{{ define "main" }}

<div class="fw-bold" style="white; !important; padding-left: 20%;"> <strong> Ma position et mes déplacements</strong>
</div>

<div class="map">
<img src="/img/collections/map_world.png" style="background: #000;overflow: hidden; padding-right: 20%; padding-left: 20%;">
<div class="map_emojis Position_moi" style="color: black !important; font-size: 100%; background-color: white; border-radius: 10px">
<div class="fw-bold" style="white; !important"> <strong> &#128205; France - Lyon</strong>
</div></div>

<div class="map_emojis Position_KTH" style="color: black !important; font-size: 100%; background-color: white; border-radius: 10px">
<div class="fw-bold" style="white; !important"> 🖥️ Stage - KTH
</div></div>
</div>

<div class="container" role="main">
  <div class="row">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
    {{ range $pag.Pages }}
    {{ partial "post_preview" . }}
    {{ end }}


  </div>
</div>

<div class="container">
  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

{{ end }}


